<h1>Página de estadísticas</h1>
<ul>
	<li class="estadisticas">Nº. de preguntas: <%= statistics.preguntas %>.</li>
	<li class="estadisticas">Nº. de comentarios: <%= statistics.comentarios %>.</li>
	<li class="estadisticas">Nº. medio de comentarios por pregunta: <%= statistics.media %>.</li>
	<li class="estadisticas">Nº. de preguntas sin comentarios: <%= statistics.noComent %>.</li>
<<<<<<< HEAD
	<li class="estadisticas">Nº. de preguntas con comentarios: <%= statistics.siComent %>.</li>
	<li class="estadisticas">Nº. de comentarios publicados: <%= statistics.siPubli %>.</li>
	<li class="estadisticas">Nº. de comentarios sin publicar: <%= statistics.noPubli %>.</li>
=======
	<li class="estadisticas">Nº. de preguntas con comentarios: <%= statistics.siComent %></li>
>>>>>>> atras
</ul>